@page "/schedules"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SportsVenueBooking.Domain
@using SportsVenueBooking.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="schedules/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Schedules">
    <PropertyColumn Property="schedule => schedule.SportLocationTimeslotId" />
    <PropertyColumn Property="schedule => schedule.AvailableSlots" />
    <PropertyColumn Property="schedule => schedule.totalPrice" />
    <PropertyColumn Property="schedule => schedule.ScheduledDate" />
    <PropertyColumn Property="schedule => schedule.DateCreated" />
    <PropertyColumn Property="schedule => schedule.DateUpdated" />
    <PropertyColumn Property="schedule => schedule.CreatedBy" />
    <PropertyColumn Property="schedule => schedule.UpdatedBy" />

    <TemplateColumn Context="schedule">
        <a href="@($"schedules/edit?id={schedule.Id}")">Edit</a> |
        <a href="@($"schedules/details?id={schedule.Id}")">Details</a> |
        <a href="@($"schedules/delete?id={schedule.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SportsVenueBookingContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
