@page "/locations/create"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Location</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Location" OnValidSubmit="AddLocation" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Location.Name" class="form-control" /> 
                <ValidationMessage For="() => Location.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label> 
                <InputText id="address" @bind-Value="Location.Address" class="form-control" /> 
                <ValidationMessage For="() => Location.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="capacity" class="form-label">capacity:</label> 
                <InputNumber id="capacity" @bind-Value="Location.capacity" class="form-control" /> 
                <ValidationMessage For="() => Location.capacity" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Location.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Location.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Location.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Location.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Location.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Location.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Location.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Location.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/locations">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Location Location { get; set; } = new();

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    //Override the OnInitialized method to get the user id.
    protected override async void OnInitialized()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddLocation()
    {
        using var context = DbFactory.CreateDbContext();

        //Set the userId to the CreatedBy and UpdatedBy fields.
        Location.CreatedBy = userId;
        Location.UpdatedBy = userId;
        //Set the DateCreated and DateUpdated fields to the current date and time.
        Location.DateCreated = DateTime.Now;
        Location.DateUpdated = DateTime.Now;

        context.Location.Add(Location);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/locations");
    }
}
