@page "/"
@using System
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<header class="header">
    <div class="logo">SPORTSLOT</div>
    <nav>
        <ul>
            <li>
                <NavLink href="/Promotions" @onclick='() => Navigate("/Promotions")'>Promotions</NavLink>
            </li>
            <li>
                <NavLink href="/Bookings_Sport" @onclick='() => Navigate("/Bookings_Sport")'>Bookings</NavLink>
            </li>
            <li>
                <NavLink href="/About Us" @onclick='() => Navigate("/About Us")'>About Us</NavLink>
            </li>
        </ul>
    </nav>
</header>

<div class="banner">
    <div class="banner-text">
        <h1>Train Hard<br />Play Hard</h1>
        <p>Details Of Different Plans (Monthly, Yearly, Family, etc...)</p>
        <NavLink href="/Bookings_Sport" button class="btn" @onclick='() => Navigate("/Bookings_Sport")'>Book Now</NavLink>
    </div>
</div>

<section class="info-section">
    <div class="info">
        <img src="images/singapore-sports-hub-logo.jpg" alt="Singapore Sports Hub" width="200">
        <h3>Official Venue Partner</h3>
    </div>
    <div class="info">
        <h3>Games</h3>
        <p><strong>Basketball:</strong> Details On Training Sessions, Tournaments, And Court Booking.</p>
        <p><strong>Tennis:</strong> Information On Lessons, Court Availability, And Tournaments.</p>
    </div>
</section>

<footer>
    &copy; @DateTime.Now.Year SportsSlot. All Rights Reserved.
</footer>

<AuthorizeView>

    <NotAuthorized>
        <NavLink href="/Account/Login" class="bottom-login">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Navigate(string targetUrl, bool requiresAuth = false)
    {
        if (requiresAuth)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity?.IsAuthenticated == true)
            {
                NavigationManager.NavigateTo(targetUrl);
            }
            else
            {
                NavigationManager.NavigateTo("/Account/Login");
            }
        }
        else
        {
            NavigationManager.NavigateTo(targetUrl);
        }
    }

}
